<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>PerfilControl</servlet-name>
        <servlet-class>br.edu.ifrs.controle.PerfilControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioControl</servlet-name>
        <servlet-class>br.edu.ifrs.controle.UsuarioControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginControl</servlet-name>
        <servlet-class>br.edu.ifrs.controle.LoginControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PerfilControl</servlet-name>
        <url-pattern>/PerfilControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioControl</servlet-name>
        <url-pattern>/UsuarioControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginControl</servlet-name>
        <url-pattern>/LoginControl</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
